@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #333333;
    --background: 0 95% 98.4%;
    --foreground: 0 0% 0.8%;

    --muted: 0 0% 92%;
    --muted-foreground: 0 0% 42%;

    --popover: 0 90% 92%;
    --popover-foreground: 0 0% 1%;

    --card: 0 90% 92%;
    --card-foreground: 0 0% 1%;

    --border: 0 5% 89.8%;
    --input: 0 5% 89.8%;

    --primary: 0 0% 20%;
    --primary-foreground: 0 0% 92%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 1% 12%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 1% 12%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 20%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #dbe6f6;

    --background: 229 39% 7.28%;
    --foreground: 229 6% 99.55%;

    --muted: 229 30% 27.3%;
    --muted-foreground: 229 6% 59.1%;

    --popover: 229 53% 11.83%;
    --popover-foreground: 229 6% 99.55%;

    --card: 229 53% 11.83%;
    --card-foreground: 229 6% 99.55%;

    --border: 229 30% 27.3%;
    --input: 229 30% 27.3%;

    --primary: 229 60% 91%;
    --primary-foreground: 229 6% 9.1%;

    --secondary: 229 30% 27.3%;
    --secondary-foreground: 229 6% 99.55%;

    --accent: 229 30% 27.3%;
    --accent-foreground: 229 6% 99.55%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 229 6% 99.55%;

    --ring: 229 60% 91%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
