@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #283048;
    --background: 239 96.45% 98.44%;
    --foreground: 239 2.9% 0.88%;

    --muted: 239 2.9% 92.2%;
    --muted-foreground: 239 1.45% 42.2%;

    --popover: 239 66.8% 92.2%;
    --popover-foreground: 239 2.9% 1.1%;

    --card: 239 66.8% 92.2%;
    --card-foreground: 239 2.9% 1.1%;

    --border: 239 7.9% 89.88%;
    --input: 239 7.9% 89.88%;

    --primary: 239 29% 22%;
    --primary-foreground: 239 0.58% 92.2%;

    --secondary: 239 1.45% 96.1%;
    --secondary-foreground: 239 2.7399999999999998% 12.2%;

    --accent: 239 1.45% 96.1%;
    --accent-foreground: 239 2.7399999999999998% 12.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 239 29% 22%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #1488cc;

    --background: 215 53.3% 3.52%;
    --foreground: 215 8.2% 97.2%;

    --muted: 215 41% 13.2%;
    --muted-foreground: 215 8.2% 54.4%;

    --popover: 215 48.6% 5.72%;
    --popover-foreground: 215 8.2% 97.2%;

    --card: 215 48.6% 5.72%;
    --card-foreground: 215 8.2% 97.2%;

    --border: 215 41% 13.2%;
    --input: 215 41% 13.2%;

    --primary: 215 82% 44%;
    --primary-foreground: 215 8.2% 97.2%;

    --secondary: 215 41% 13.2%;
    --secondary-foreground: 215 8.2% 97.2%;

    --accent: 215 41% 13.2%;
    --accent-foreground: 215 8.2% 97.2%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 215 8.2% 97.2%;

    --ring: 215 82% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
